**/neural_network/**/*.py -linguist-detectable
**/detection/**/*.py -linguist-detectable
**/detection_server/**/*.py -linguist-detectable
**/tensorflow_repos/** -linguist-vendored
*.ipynb -linguist-detectable
